.upper_area
{
    margin-left: 10%;
}
.logo
{
    background-color: #2d7e7b;
    padding: 4%;
}
.company_name b
{
    color: orangered;
}
.main_img
{
    position:absolute;
    margin-top: 5%;
}
.bottom_half
{
    margin-top:87.5%;
}
.bottom_headings
{
    color:#2d7e7b;
}
.bottom_right_section
{
    padding-left: 10%;
}
.numbering h1
{
    color: orangered;
    font-size: 300%;

}
.about_us
{
    background-color: #2d7e7b;
    color: white;
    padding: 5%;
}
.contact_us
{
    background-color: orangered;
    color: white;
    margin-top: 0px;
    padding: 5%;
}
.about_us_discription
{
    text-align: right;
}
.contact_us_discription
{
    text-align: right;
}
.bottom_link
{
    background-color: lightgray;
    padding: 5%;
}